body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

header {
  background: black;
  padding: 10px;
}

main {
  min-height: 100vh;
}

header a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.space_around {
  justify-content: space-around;
}

.space_between {
  justify-content: space-between;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.m15 {
  margin: 15px;
}

.p15 {
  padding: 15px;
}

.pagination-number {
  padding: 5px;
  background: #202020;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.active {
  background: #2d2a2a;
}

table,
td,
th {
  border: 1px solid #333;
}

.clients {
  border: solid 1px;
  padding: 5px;
  border-radius: 4px;
  margin: 20px;
  width: 350px;
}

.carousel-container {
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
}

.img {
  width: 50%;
}

h2 {
  margin: 15px;
}

.btn {
  border: 1px solid;
  background: none;
  padding: 8px;
  border-radius: 3px;
}

footer {
  background: black;
  padding: 10px;
}

.p_footer {
  color: white;
  margin: 10px;
  font-size: 20px;
}
